Package: com.h4x.exceptioncatcher
Name: exception catcher
Pre-Depends: cy+model.appletv
Depends: mobilesubstrate
Version: 0.0.1
Architecture: appletvos-arm64
Description: Caught uncaught exceptions, helpeful for backporting apps
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Library
