Package: com.nito.breezy
Name: Breezy
Pre-Depends: cy+model.appletv
Depends: mobilesubstrate 
Version: 2.0
Architecture: appletvos-arm64
Description: Enable AirDrop server in your tvOS Applications
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweak
Depiction: https://nitosoft.com/ATV4/breezy/breezy.json
